{# @formatter:off #}

{{ name }} Collection
=========================================

.. list-table:: {{ name }} Version
   :header-rows: 1

   * - Version
     - Download
     - Permalink
{% for version in version_list %}
   * - {{ version }}
     - :download:`{{ name }} {{ version }} <../../../docs/{{ name }}/{{ version }}/{{ name }}.json>`
     - `{{ name }} {{ version }} <../../docs/{{ name }}/{{ version }}/{{ name }}.json>`_
{% endfor %}
