{# @formatter:off #}

Ansible Collection {{ name }} Docs
=========================================

.. list-table:: Collections
   :header-rows: 1

   * - Collection Name
     - Download URL
{% for version in version_list %}
   * - {{ version }}
     - :download:`{{ version }} <{{ name }}/{{ version }}/{{ name }}.json>`_
{% endfor %}
