{# @formatter:off #}

Ansible {{ version }} Docs
========================================

.. list-table:: Collections
   :header-rows: 1

   * - Collection Name
     - Download URL
{% for doc in doc_files %}
   * - {{ doc[:-5] }}
     - :download:`{{ doc }} <{{ doc }}>`_
{% endfor %}
