{# @formatter:off #}

Ansible Collection {{ name }} Docs
=========================================

.. list-table:: {{ name }} Version
   :header-rows: 1

   * - Version
     - Download URL
{% for version in version_list %}
   * - {{ version }}
     - :download:`/docs/{{ name }}/{{ version }}/{{ name }}.json </docs/{{ name }}/{{ version }}/{{ name }}.json>`_
{% endfor %}
