name: Cloudflare Pages Deployment

# r4

on:
  push:
    paths:
      - '.github/workflows/cf_pages_deploy.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: 安装 Poetry
        run: pip install poetry

      - name: 安装 依赖
        run: poetry install

      - name: 构建 HTML
        run: make fast-build

      - name: Show Files
        run: tree build/html

      - name: Publish HTML
        uses: peter-evans/create-pull-request@v3.12.1
        with:
          title: Publish to html branch (Never Merge This)
          branch: html
          add-paths: |
            build/html

      - name: 部署到 Clouflare Pages
        run: curl -XPOST ${{ secrets.CF_DEPLOY_URL }}
